@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background: rgb(5, 8, 85);
  background: linear-gradient(
    76deg,
    rgba(5, 8, 85, 1) 82%,
    rgba(14, 38, 215, 0.9108018207282913) 94%,
    rgba(172, 187, 19, 0.8883928571428571) 97%
  );
}
.border-shadow {
  height: 80px;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bg-gradient-blue {
  background: rgb(52, 130, 209);
  background: linear-gradient(99deg, rgba(52, 130, 209, 1) 47%, rgba(49, 218, 218, 1) 73%);
}
.popup-shadow {
  box-shadow: 2px 4px 16px 0px rgba(230, 219, 219, 0.75);
  -webkit-box-shadow: 2px 4px 16px 0px rgba(230, 219, 219, 0.75);
  -moz-box-shadow: 2px 4px 16px 0px rgba(230, 219, 219, 0.75);
}
.show {
  visibility: visible;
  animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.borderblack {
  border: 1px solid black;
}
.bg-gradient-blue-revers {
  background: rgb(52, 130, 209);
  background: linear-gradient(189deg, rgba(52, 130, 209, 1) 47%, rgba(49, 218, 218, 1) 73%);
}
.list-shadow {
  -webkit-box-shadow: -8px 7px 6px 5px rgba(0, 0, 0, 0.33);
  box-shadow: -8px 7px 6px 5px rgba(0, 0, 0, 0.33);
}
.box-shadow-lightpink {
  box-shadow: 0 5px 10px rgb(154 160 185 / 5%), 0 15px 40px rgb(166 173 201 / 20%);
}
.border-circle {
  border: 4px solid rgb(52, 130, 209);
}
